<%- include('/Users/hp/Desktop/express/views/includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
  <%- include('/Users/hp/Desktop/express/views/includes/navigation.ejs') %>
    
<main>
  <% if (orders.length<=0){%>
    <h1>Nothing Here! </h1>
    <%}else{
      %>
      <ul>
        <% orders.forEach(order => {
          %>
          <li>
            <h1># <%= order.id %></h1>
            <ul>
              <% order.orderItem.forEach(item =>{
                %>
                <li><%= item.title%> (<%= item.quantity%>)</li>
                <%
              }); %>
            </ul>
         </li>
          <%
        })
        %>
      </ul>
      <%
    }%>
    
  }
</main>


  <%- include('/Users/hp/Desktop/express/views/includes/end.ejs') %>
  